header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.45);
    z-index: 2;
}

header .logo {
    position: relative;
    font-size: 2em;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 1px;
}

header .navigation {
    position: relative;
    display; flex;
}

header .navigation li {
    list-style: none;  /* Removes the bullet points from list elements */
    display: inline-block;
    margin-right: 40px;
}

header .navigation li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

header .navigation li a:hover {
    color: #04e5f9;
    transition: color 0.3s;
}

header .navigation li a:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 2px solid;
    margin: 0 auto;
    transition: all 0.15s linear 0s;
}

header .navigation li a:hover:after {
    width: 90%;
}

@media (max-width: 800px) {
    header {
        padding: 15px 40px;
    }

    header .navigation {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #000;
        z-index: 10;
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header .navigation.active {
        display: flex;
    }

    header .navigation li a {
        font-size: 24px;
        margin: 10px 0;
    }

    .toggleMenu {
        position: relative;
        width: 30px;
        height: 30px;
        background: url("hamburger_icon.jpg");
        background-position: center;
        background-size: 30px;
        background-repeat: no-repeat;
        cursor: pointer;
        z-index: 11;
    }

    .toggleMenu.active {
        background: url("hamburger_icon.jpg");  /* Make this a X instead */
        background-position: center;
        background-size: 25px;
        background-repeat: no-repeat;
        cursor: pointer;
    }
}