* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

#main_section {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    z-index: 3;
}

.content {
    display: flex;
    max-width: 1000px;
    border-radius: 10px;
    padding: 40px;
    background-color: rgba(35, 35, 35, 0.35);
    border: 1px solid #fff;
}

.content .contentBx h2 {
    text-align: center;
    font-size: 4em;
    color: #fff;
    line-height: 1em;
    padding-bottom: 20px;
}

table {
    border: none;
    border-collapse: collapse;
}

table td, th {
    border-left: 1px dotted #fff;
}

table td:first-child, th:first-child {
    border-left: none;
}

form {
    display: grid;
    position: relative;
    place-items: center;
    width: 400px;
}

#password_hint, #password_match, #invalid_email {
    opacity: 0;
    color: #f20430;
    letter-spacing: 0.65px;
    height: 0;
    font-size: 0px;
    transition: opacity 1.25s linear;
    width: 90%;
}

#password_hint li {
    list-style: none;
}

#password_hint li:first-child {
    padding-top: 5px;
}

#password_hint li:last-child {
    padding-bottom: 5px;
}

#password_hint.change, #password_match.change, #invalid_email.change {
    opacity: 1;
    font-size: 12px;
    height: auto;
    transition: opacity 1.25s linear;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

#register-email, #register-password1, #login-email, #login-password, #register-password2 {
    outline: none;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    margin: 7.5px 0px 7.5px 0px;
    border: 1px solid black;
    transition: width 0.5s;
}

#register-email.change, #register-password1.change, #login-email.change, #login-password.change,
#register-password2.change {
    border: 1px solid red;
}

#register-email:hover, #register-password1:hover, #login-email:hover, #login-password:hover,
#register-password2:hover {
    width: 90%;
    transition: width 0.5s;
}

#register-email:focus, #register-password1:focus, #login-email:focus, #login-password:focus,
#register-password2:focus {
    width: 90%;
    border: 1px solid #04a5ef;
}

#register, #continue {
    display: inline;
    border-radius: 7px;
    border-style: none;
    padding: 12px 20px 12px 20px;
    background: #01628e;
    transition: background 0.25s;
    color: #fff;
    letter-spacing: 0.8px;
}

#register:hover, #continue:hover {
    background: #0586c1;
    transition: background 0.25s;
}

.content .contentBx span {
    margin: 15px;
}

.content .contentBx span span {
    display: inline;
    margin: 0px;
    padding: 12px 0px 12px 0px;
    border: 1px solid #000;
    border-radius: 7px;
    transition: padding 0.35s, border-color 0.75s;
}

.content .contentBx span span:hover {
    padding: 17px 5px 17px 5px;
    border-color: #fff;
    transition: padding 0.35s, border-color 0.75s;
}
