html {
    background-image: radial-gradient(rgba(157, 200, 141, 1), rgba(54, 71, 48, 1));
}

body {
    font-family: sans-serif;
    font-size: 20px;
    margin: 0 auto;
    overflow-x: hidden;  /* Hides horizontal scrollbar and removes horizontal scrolling */
}

main {
    width: 80%;
    margin: 0 auto;
}

.main_contents {
    padding: 100px 30px 10px 30px;
}

.main_contents table th, .main_contents table td {
    padding: 10px;
}

.main_contents table img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.overlay {
    position: relative;
    background: rgba(0, 0, 0, 0.9);
    z-index: 2;
}

#left, #right {
    background-image: url("sports_background.jpg");
    position: fixed;
    top: 0; bottom: 0;
    width: 10%;
    z-index: 1;
}

#left {
    left: 0;
    -webkit-mask-image: linear-gradient(to left, transparent 10%, black 90%);
    mask-image: linear-gradient(to left, transparent 0%, black 20%);
}
#right {
    right: 0;
    -webkit-mask-image: linear-gradient(to right, transparent 10%, black 90%);
    mask-image: linear-gradient(to right, transparent 0%, black 20%);
}

.overlay {
    background-color: rgba(0, 0, 0, 0.53);
    height: 100%;
    z-index: 2;
}

a, a:visited {
    color: #007bff;
}

a:hover {
    color: #0056b3;
}

nav {
    display: flex;
}

nav ul li {
    display: inline-block;
    padding: 8px 12px;
    color: #FCFAA4;
}

nav ul li a {
    text-decoration: none;
    color: #FCFAA4 !important;  /*  !important Overrides ALL previous styling rules of color in the element */
    font-size: 30px;
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li a:after {
    content: "";
    display: block;
    width: 0;
    border-bottom: 2px solid;
    margin: 0 auto;
    transition: all 0.3s linear 0s;
}

nav ul li a:hover:after {
    width: 90%;
}

.header_contents nav button {
    background-color: transparent;
    border: 2px solid;
    border-radius: 30px;
    margin: 15px auto;
    position: fixed;
    padding: 18px 25px;
    right: 10%;
    color: #FCFAA4;
    font-size: 20px;
    cursor: pointer;
}

.header_contents nav button:hover {
    background-color: rgba(249, 249, 202, 0.1)
}

.sticky_header {
    position: fixed;

    background-color: rgba(0, 0, 0, 0.83);
    padding: 10px 10% 10px 12%;  /* <top, right, bottom, left> */
    width: 100%;
    display: flex;  /* Makes all elements in the sticky_header to be on the same line */
    z-index: 2;
}

.shrink_header nav button {
    font-size: 14px;
    transition: font-size 0.3s ease-in;
}

.shrink_header nav ul li * {
    font-size: 20px;
    transition: font-size 0.3s ease-in;
}

.enlarge_header nav button {
    font-size: 20px;
    transition: font-size 0.3s ease-out;
}

.enlarge_header nav ul li * {
    font-size: 30px;
    transition: font-size 0.3s ease-out;
}
