{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block stylesheet %}
        <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='header.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='particles.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='diamond_plate_texture.css') }}">
{% endblock stylesheet %}

{% block scripts %}
        <script type="text/javascript" lang="javascript" src="{{ url_for('static', filename='menuToggle.mjs') }}"></script>
        <script type="text/javascript" lang="javascript" src="{{ url_for('static', filename='login_validation.mjs') }}"></script>
{% endblock scripts %}

{% block header %}
        <a href="{{ url_for('pages.home') }}" class="logo">Fitness</a>
        <div class="toggleMenu" onclick="toggleMenu();"></div>
        {% include("_navigation.html") %}
{% endblock header %}

{% block content %}
        <div class="content">
            <div class="contentBx">
                <table>
                    <tr>
                        <th>
                            <h2>Register</h2>
                        </th>
                        <th>
                            <h2>Login</h2>
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <!-- Returning false from validate_registration() means that the page won't refresh -->
                            <form id="form" onsubmit="return validate_registration();">
                                <input type="text" id="register-email" name="register-email" placeholder="Email">
                                <p id="invalid_email">The entered email is invalid.</p>
                                <p id="existing_email">The entered email already exists.</p>
                                <br  />
                                <input type="password" id="register-password1" name="register-password1" placeholder="Password">
                                <div id="password_hint">
                                    <p>Ensure your password meets the following criteria:</p>
                                    <ul>
                                        <li>Greater than 10 characters</li>
                                        <li>Contains uppercase letters</li>
                                        <li>Contains lowercase letters</li>
                                        <li>Contains special characters, like: @, !, #, etc</li>
                                    </ul>
                                </div>
                                <input type="password" id="register-password2" name="register-password2" placeholder="Re-enter Password">
                                <div id="password_match">
                                    <p>Passwords do not match.</p>
                                </div>
                                <br  />
                                <br  />
                                <span><span><input type="submit" value="Register" id="register" name="register"></span></span>
                            </form>
                        </td>
                        <td>
                            <form method="post" action="{{ url_for('pages.menu') }}">
                                <input type="text" id="login-email" name="login-email" placeholder="Email">
                                <br  />
                                <input type="password" id="login-password" name="login-password" placeholder="Password">
                                <br  />
                                <br  />
                                <span><span><input type="submit" value="Continue" id="continue" name="continue"></span></span>
                            </form>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
{% endblock content %}

{% block bg_content %}<div class="bg"></div>{% endblock bg_content %}

{% block particle_content %}
    {% include("_particles.html") %}
{% endblock particle_content %}
