<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <title>Fitness App: {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='header.mjs') }}" defer></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='scrolling_background.mjs') }}"></script>
    </head>
    <body onscroll="stick_header();">
        <section>
            <header>
                <div class="sticky_header" id="sticky_header">
                    <div class="header_contents" id="header_contents">
                        {% include("_navigation.html") %}
                    </div>
                </div>
            </header>
            <main>
                <div id="left">
                    <div class="overlay"></div>
                </div>
                <div id="right">
                    <div class="overlay"></div>
                </div>

                <div class="main_contents" id="main_contents">
                    <h1>Fitness App</h1>
                    {% block content %}<p>No messages.</p>{% endblock content %}
                </div>
            </main>
        </section>
    </body>
</html>