<!DOCTYPE html>
<html lang="en-GB">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Fitness App: {% block title %}{% endblock title %}</title>
        {% block stylesheet %}{% endblock stylesheet %}
        {% block scripts %}{% endblock scripts %}
    </head>
    <body>
        <section id="main_section">
            <header>
                {% block header %}{% endblock header %}
            </header>
            <main>
                {% block content %}{% endblock content %}
            </main>
        </section>
        <section id="bg_section">
            {% block bg_content %}{% endblock bg_content %}
        </section>
        <section id="particle_section">
            {% block particle_content %}{% endblock particle_content %}
        </section>
    </body>
</html>